# For CI and Style checking
pytest-cov>=2.5.1
pytest>=3.0.7
flake8>=3.5.0
coveralls

# For docs generation
sphinx
nbsphinx>=0.3.3
sphinx-material>=0.0.32
jinja2==3.0.3
ipython
pandas>=1.0
numpy>=1.13.1
scipy>=1.0.0
